# editor backup files
*~
\#*\#
.\#*\#

# QtCreator project settings
CMakeLists.txt.user

# in-tree build with CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
config.h
opm-core-config.cmake
opm-core-config-version.cmake
opm-core-install.cmake
Makefile
bin/
lib/
Doxyfile
Documentation
